@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ffffff;
  --secundary-color: #c0c0c0;
  --tertiary-color: #ec2f46;
  --background-color: #00030c;
  --button-color: #167BF7;
  --button-hover: #5ea0f1;
  --font-size-text: 1rem;
  --font-style-primary: 'Inter', sons-serif;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font-style-primary);
  font-weight: 400;
  font-size: var(--font-size-text);
}
.main {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}
.container {

  height: 100vh;
  display: grid;
   grid-template-columns: 50% 50%;
}
.container__image{
  margin: 2em 0 4em 0;
}
.container__button {
background-color: var(--button-color);
display: block;
padding: 1em;
color: var(--primary-color);
text-decoration: none;
font-size: var(--font-size-text);
border-radius:  8px;
margin-bottom: 1em;
}
.button_secundary{
    background-color: transparent;
    border: var(--primary-color) 2px solid;
}
.container__warning{
    color: var(--secundary-color);
    font-size: 0.75rem;
}
.container__title{
  font-size: 1.75rem;
  font-weight: 800;
}
.container__box{
  margin: 0 5em;
}
.secundary{
align-items: center;
margin: 0 20em;
}
.secundary__image{
width: 85%;

}
.secundary__title{
color: var(--primary-color);
font-size: 3rem;
margin-bottom: 0.5em;
}
.secundary__text{
color: var(--secundary-color);
}
.tertiary{
  align-items: center;
  margin: 0 10em;
}

.tertiary__text{
color: var(--primary-color);
font-weight: 400;
}
.tertiary__image{
  width: 75%;
}
.tertiary__link{
padding: 1em;
background-color: var(--button-color);
color: var(--primary-color);
text-decoration: none;
width: 10em;
border-radius: 0.5em;
}
.tertiary__box{
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  
}
.quaternary{
  align-items: center;
  margin: 0 20em;
}
.quaternary__image{
width: 80vw;
}
.quaternary__title{
  font-size: 3em;
  color: var(--primary-color);
}
.quaternary__text{
  color: var(--primary-color);
}
.devices{
  width: 100%;
text-align: center;

}
.devices__list{
  display: flex;
  margin: 2em 0;
  text-align: center;
  justify-content: center;
  gap: 1em;
  list-style-type: none;
  font-size: 2em;
  font-weight: bold;
}
.devices__title{
  align-items: center;
  font-size: 3em;
  color:  var(--primary-color);
}
.footer{
margin: 0 20em;
text-align: center;
}
.footer__image{
margin: 3em 0;
}
.footer__list{
display: flex;
justify-content: space-evenly;
list-style-type: none;
}
.footer__link{
text-decoration: none;
color: var(--primary-color);

}
.footer__text{
margin: 2em 0;
font-size: 0.875rem;
color: var(--secundary-color);
}
a:hover{
background-color: var(--button-hover);
}
.footer__link:hover{
  color: var(--button-color);
  background-color: var(--background-color);
}
@media screen and (max-width: 800px) {
  .container{
    display: block;
    background-image: none;
  }
  .container__box{
    margin: 2em;
  }
  .container__image{
    width: 50vw;
  }
  .secundary{
    margin: 1em 0;
    text-align: center;
  }
  .tertiary{
    margin: 1em 0;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .tertiary__box{
    align-items: center;
  }
  .quaternary{
    margin: 2em 0;
    text-align: center;
  }
  .container__image{
    
  }
  .quaternary__title{
    margin: 1em 0;
  }
  .footer{
    margin: 0.5em;
  }
  .devices__title{
    font-size: 2.5rem;
  }
  .footer__image{
    margin: 0;
  }
  .footer__list{
   display: block;
   justify-content: center;
  }
  .devices__list{
    flex-direction: column;
  }
  .footer__link{
   margin: 1em 0;
  }
  .footer__image{
    margin: 1em 0;
  }
}